lab03/lab03_client/src/wsdl/localhost_8080/PersonService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://mycompany.com/" name="PersonService">
<types>
<xsd:schema>
<xsd:import namespace="http://mycompany.com/" schemaLocation="http://localhost:8080/PersonService?xsd=1" />
</xsd:schema>
</types>
<message name="getPersons">
<part name="Request" type="tns:findRequest" />
</message>
<message name="getPersonsResponse">
<part name="return" type="xsd:string" />
</message>
<message name="createPersons">
<part name="Request" type="tns:createRequest" />
</message>
<message name="createPersonsResponse">
<part name="return" type="xsd:int" />
</message>
<message name="NotFoundException">
<part name="fault" element="tns:NotFoundException" />
</message>
<message name="updatePersons">
<part name="Request" type="tns:updateRequest" />
</message>
<message name="updatePersonsResponse">
<part name="return" type="xsd:string" />
</message>
<message name="deletePersons">
<part name="Id" type="xsd:int" />
</message>
<message name="deletePersonsResponse">
<part name="return" type="xsd:string" />
</message>
<portType name="PersonWebServiceInterface">
<operation name="getPersons">
<input message="tns:getPersons" />
<output message="tns:getPersonsResponse" />
</operation>
<operation name="createPersons">
<input message="tns:createPersons" />
<output message="tns:createPersonsResponse" />
<fault message="tns:NotFoundException" name="NotFoundException" />
</operation>
<operation name="updatePersons">
<input message="tns:updatePersons" />
<output message="tns:updatePersonsResponse" />
<fault message="tns:NotFoundException" name="NotFoundException" />
</operation>
<operation name="deletePersons">
<input message="tns:deletePersons" />
<output message="tns:deletePersonsResponse" />
<fault message="tns:NotFoundException" name="NotFoundException" />
</operation>
</portType>
<binding name="PersonWebServicePortBinding" type="tns:PersonWebServiceInterface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
<operation name="getPersons">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://mycompany.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://mycompany.com/" />
</output>
</operation>
<operation name="createPersons">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://mycompany.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://mycompany.com/" />
</output>
<fault name="NotFoundException">
<soap:fault name="NotFoundException" use="literal" />
</fault>
</operation>
<operation name="updatePersons">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://mycompany.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://mycompany.com/" />
</output>
<fault name="NotFoundException">
<soap:fault name="NotFoundException" use="literal" />
</fault>
</operation>
<operation name="deletePersons">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://mycompany.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://mycompany.com/" />
</output>
<fault name="NotFoundException">
<soap:fault name="NotFoundException" use="literal" />
</fault>
</operation>
</binding>
<service name="PersonService">
<port name="PersonWebServicePort" binding="tns:PersonWebServicePortBinding">
<soap:address location="http://localhost:8080/PersonService" />
</port>
</service>
</definitions>