lab03/lab03_client/src/wsdl/localhost_8080/PersonService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><xs:schema xmlns:tns="http://mycompany.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://mycompany.com/">

<xs:element name="NotFoundException" nillable="true" type="tns:personServiceFault" />

<xs:element name="createPersons" type="tns:createPersons" />

<xs:element name="createPersonsResponse" type="tns:createPersonsResponse" />

<xs:element name="createRequest" type="tns:createRequest" />

<xs:element name="deletePersons" type="tns:deletePersons" />

<xs:element name="deletePersonsResponse" type="tns:deletePersonsResponse" />

<xs:element name="fields" type="tns:fieldsInter" />

<xs:element name="findRequest" type="tns:findRequest" />

<xs:element name="getPersons" type="tns:getPersons" />

<xs:element name="getPersonsResponse" type="tns:getPersonsResponse" />

<xs:element name="updatePersons" type="tns:updatePersons" />

<xs:element name="updatePersonsResponse" type="tns:updatePersonsResponse" />

<xs:complexType name="deletePersons">
<xs:sequence>
<xs:element name="Id" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletePersonsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="personServiceFault">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePersons">
<xs:sequence>
<xs:element name="Request" type="tns:updateRequest" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateRequest">
<xs:complexContent>
<xs:extension base="tns:createRequest">
<xs:sequence>
<xs:element name="id" type="xs:int" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="createRequest">
<xs:sequence>
<xs:element name="age" type="xs:int" />
<xs:element name="birthplace" type="xs:string" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="surname" type="xs:string" minOccurs="0" />
<xs:element name="university" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePersonsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPersons">
<xs:sequence>
<xs:element name="Request" type="tns:createRequest" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPersonsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPersons">
<xs:sequence>
<xs:element name="Request" type="tns:findRequest" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRequest">
<xs:sequence>
<xs:element name="fields" type="tns:fieldsInter" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fieldsInter">
<xs:sequence>
<xs:element name="field" type="xs:string" minOccurs="0" />
<xs:element name="value" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPersonsResponse">
<xs:sequence>
<xs:element name="return" type="tns:person" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="person">
<xs:sequence>
<xs:element name="age" type="xs:int" />
<xs:element name="birthplace" type="xs:string" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="surname" type="xs:string" minOccurs="0" />
<xs:element name="university" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>